<!-- <s2w-angular-d3-tree-lib
  [(treeData)]="data"
  (onNodeChanged)="nodeUpdated($event)"
  (onNodeSelected)="nodeSelected($event)"></s2w-angular-d3-tree-lib> -->

  <!-- <ng2-org-chart [topEmployee]="topEmployee"></ng2-org-chart> -->

  <div>
    <google-chart #tree1
   [title]="title"
   [type]="type"
   [data]="data2"
   [columnNames]="columnNames"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>
  </div>
  <br>
  <br>
  <br>
  <div>
    <google-chart #tree2
   [title]="title"
   [type]="type"
   [data]="data"
   [columnNames]="columnNames"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>
  </div>
